body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666666;
    background-color: rgb(239, 243, 245);
}

.first {
    margin: 20px;


}

.main {
    width: 70%;
    background-color: white;
    margin: 150px;
    position: relative;
    height: 800px;
}

.flex1 {
    display: flex;
}

.flex2 {
    display: flex;
}

.input {
    width: 250px;
    height: 30px;
    margin-top: 10px;

}

.input2 {
    width: 100px;
    height: 30px;
    margin-top: 10px;

}

.box1 {
    margin: 15px;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    width: 250px;
    background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
    border: none;
    margin: 20px;
}

/* th,
td {
    border-bottom: 1px solid black;
    /* border-top: 1px solid black;
} */

table {
    border: 1px solid black;
}

.last {
    width: 55%;
    height: 270px;
    border: 1px solid rgb(151, 145, 145);
    border-radius: 5px;
    margin: 20px;
}

.div1 {
    border-bottom: 1px solid rgb(151, 145, 145);
    margin-top: -18px;
    background-color: rgb(239, 243, 245);
}

.margin {
    margin: 5px;
}




.Summary {
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
}

.div2 {
    margin-right: 20px;
    border-bottom: 1px solid rgb(151, 145, 145);
    border-top: 1px solid rgb(151, 145, 145);
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(239, 243, 245)
}

.div3 {
    margin-right: 20px;
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
}

.div4 {
    margin-right: 20px;
    border-bottom: 1px solid rgb(151, 145, 145);
    border-top: 1px solid rgb(151, 145, 145);
    display: flex;
    background-color: rgb(239, 243, 245);
    margin-left: 20px;
    margin-top: 20px;
}

.rs {
    margin-left: 50px;
    color: rgb(97, 94, 94);
}

.rs1 {
    margin-left: 80px;
    color: rgb(97, 94, 94)
}

.rs2 {
    margin-left: 55px;
    color: rgb(97, 94, 94)
}